

.container {
    position: absolute;
     top: 700px;
 left: calc(50% - 310px);
}

.textbox {
   
  width: 500px;
  height: 30px;
  padding: 0px 60px;
  border-radius: 30px;
  outline: 0;
  border: 0px solid #d8d8d8;
  background-color: rgba(167, 167, 167, 0.6);
}
.textbox:hover {
  outline: 0;
  background-color: rgb(214, 214, 214, 0.6);
}
.logbox{
  margin-top: 5px;
  width: 450px;
  height: 192px;
  overflow-y: scroll;
  float: left;
}
.chatlog {
  font-size: 14px;
  color: #b4b4b4;
  display: block;
  border-bottom: dashed 1px #97979750;
}
.chatlog img{
  width: 24px;
  height: 24px;
     vertical-align: bottom;
    display: inline-block;
}
.chatlog img:hover{
  width: 64px;
  height: 64px;
  vertical-align: middle;
}
.Utility{
    width: 160px;
  height: 180px;
  background-color: rgb(167, 167, 167, 0.6);
  float: left;
  border-radius: 5px;
  margin: 8px 5px;
}
::-webkit-scrollbar{
   width: 8px;
}
::-webkit-scrollbar-track{
   background-color: rgba(122, 122, 122, 0.363);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
   background-color: #17585d;
}